/*CSS File dedicated for .css stylization*/
body {
    margin: 0;
    background-color: #181b22;
    border: solid;
}

/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #353535;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: rgb(255, 250, 250);
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #064d7c;
}

/* Current/active navbar link */
.active {
  background-color: #013a7a;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.maintextanim {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    color: #FFFF;
    text-decoration: none;
    font-size:xx-large;
}

.mainlogoanim {
    text-align: center;
    padding: 20px;
    height : auto;
    margin-bottom: auto;
}

.textmainpage {
  text-align: center;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
}

.GreyWhiteButtonT {
  appearance: none;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 1dvh;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 40%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 50px;
}
.GreyWhiteButtonT:hover {
  color: #fff;
  background-color: #303030;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.GreyWhiteButtonT:active {
  box-shadow: none;
  transform: translateY(0);
}
.NoTextDecoration {
text-decoration: none;
}